@tailwind base;
@tailwind components;
@tailwind utilities;

/* #btn{
    height: 35px;
    width: 120px;
    background-color: #1a1a1a;
    font-family: arial;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

#frame{
    width: 850px;
    height: 500px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#screenshot{
    position: absolute;
    top: 120px;
    left: 370px;
} */